body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.h1 {
    font-size: 40px;
}

section {
    display: flex;

}

.half-width {
    width: 50%;
    padding: 5%;

}

.half-width-secound {
    width: 37%;
    padding-left: 8%;


}

#first-last {
    width: 30%;
    padding-left: 5%;
}

.link-modify {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 115, 0), tomato);
    border-radius: 30px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    color: cornsilk;


}

.backgrount-image {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;

}

#person {
    padding-left: 7%;
}

span {
    color: chocolate;
}

.siraj-s {
    text-align: center;
    display: inline;


}

#p-padding {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;

}

.last-div {
    width: 37%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 10px 10px 40px gray;
    margin: 15px;
    border-radius: 40px;
    box-sizing: content-box 30px;

}

.buttom-div {
    width: 50%;
    padding: 5%;
}

.div-fliex {
    display: flex;
    width: 50%;
}

#subscribe-section {
    background-color: rgb(238, 226, 226);
    border-radius: 30px;
    white-space: 30px;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.sem-recipie {
    font-size: 20px;
}

#last-part {
    display: inline;
    text-align: center;
    background-color: aqua;
}